body {
    font-family: 'Montserrat', sans-serif;
    background: #fafafa;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 72px;
    margin: 50px 0 20px
}

a {
    color: green
}

.green {
    display: inline-block;
    padding: 0 20px;
    color: white;
    background: green;
}

.single-slide.active {
    display: flex;
    justify-content: center;
    width: 95%;
    margin: auto;
    background: white;
    border: 1px solid #efefef;
    border-radius: 5px;

}

.single-slide .caption,
.single-slide .pic {
    width: 50%;
    max-height: 90vh;
}

.single-slide .caption {
    padding: 5%;
    flex: 1;
    font-size: 28px;
}

.single-slide .caption .user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}

.single-slide .caption .user .avatar {
    border-radius: 50%;
    max-width: 100px;
    margin-right: 20px;
}

.single-slide .pic img {
    width: 100%;
    height: 100%;
}

.single-slide {
    display: none;
}

.spinner, .tag-form,
.no-results {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
}

.no-results {
    flex-direction: column;
}

.tag-form {
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
}

.tag-form input {
    font-size: 18px;
    border: solid 1px #efefef;
    padding: 5px 10px;
    margin-left: 5px
}

.tag-form button {
    border: 0;
    background: green;
    color: white;
    font-size: 18px;
    padding: 5px 10px;
    font-family: 'Montserrat', sans-serif;
}